<div class="mb-4 border-bottom pb-2">
  <h1>Crash Report <small class="text-muted">{{product}} v{{version}}</small></h1>
</div>
<div class="row mb-4">
  {{#each fields}}
  <div class="col-sm-3 fw-bold">{{titleCase @key}}</div>
  <div class="col-sm-9">
    {{#if this.path}}
    <a href="{{this.path}}">download</a>
    {{else}}
    {{this}}
    {{/if}}
  </div>
  {{/each}}
</div>
<h2>Stackwalk</h2>
<pre><code>
{{stackwalk}}
</code></pre>