<div class="mb-4 border-bottom pb-2">
  <h1>Symfile</h1>
</div>
<div class="row mb-4">
  {{#each symfile.props}}
  <div class="col-sm-3 fw-bold">{{titleCase @key}}</div>
  <div class="col-sm-9">
    {{#if this.path}}
    <a href="{{this.path}}">download</a>
    {{else}}
    {{this}}
    {{/if}}
  </div>
  {{/each}}
</div>
<pre><code>
{{symfile.contents}}
</code></pre>